<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-list-ud-heading">Create or edit a List UD</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_listName">List Name</label>
                    <input type="text" class="form-control" name="listName" id="field_listName"
                           formControlName="listName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_listValue">List Value</label>
                    <input type="text" class="form-control" name="listValue" id="field_listValue"
                           formControlName="listValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_listName">List Name</label>
                    <select class="form-control" id="field_listName" name="listName" formControlName="listName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="variableNameOption.id === editForm.get('listName')!.value?.id ? editForm.get('listName')!.value : variableNameOption" *ngFor="let variableNameOption of listnames; trackBy: trackById">{{ variableNameOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
