<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listUD">
            <h2><span>List UD</span> {{ listUD.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>List Name</span></dt>
                <dd>
                    <span>{{ listUD.listName }}</span>
                </dd>
                <dt><span>List Value</span></dt>
                <dd>
                    <span>{{ listUD.listValue }}</span>
                </dd>
                <dt><span>List Name</span></dt>
                <dd>
                    <div *ngIf="listUD.listName">
                        <a [routerLink]="['/variable-name', listUD.listName?.id, 'view']">{{ listUD.listName?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/list-ud', listUD.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
